<table>
  <thead>
    <tr class="fila">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha Nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let alumno of alumnos; let i = index">
      <tr [ngClass]="[i % 2 === 0 ? 'filaImpar' : '', alumno.marcado ? 'marcado': '']">
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.email | uppercase}}</td>
        <td>{{alumno.pais}}</td>
        <td><button (click)="marcarAlumno(i)">Marcar</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>